@import 'https://fonts.googleapis.com/css?family=Raleway';

body, html {
    width: 100% !important;
    height: 100% !important;
}

#header {
    background-color: #19496c;
    color: white;
    font-family: Arial, serif;
    font-size: 14px;
    padding: 14px 14px 14px 64px;
}

.logo {
    padding: 30px;
}

.flags {
    padding: 2px;
    float: right;
}

.white {
    background-color: #ffffff;
}

div.navigation {
    font-family: Raleway, serif;
    margin: 0 auto;
    padding: 40px 10px;
    text-align: center;
    background: #ffffff;
}

div.navigation a {
    color: #19496c;
    text-decoration: none;
    font: 14px Raleway;
    margin: 0 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.topBottomBordersOut a:before, div.topBottomBordersOut a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #19496c;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBottomBordersOut a:before {
    top: 0;
    transform: translateY(10px);
}

div.topBottomBordersOut a:after {
    bottom: 0;
    transform: translateY(-10px);
}

div.topBottomBordersOut a:hover:before, div.topBottomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}